html {
    font-size: 10px!important;
    scroll-behavior: smooth;
}

body {
    font-family: 'RoundedMplus';
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.08em;
    color: $color5;
    background-color: $color8;
    @include sm {
        font-size: 1.6rem;
    }
}

.page-width {
    max-width: 1000px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
    @include sm {
        padding: 40px 0;
    }
}

h1 {
    @extend %mplus-48-b-b;
    color: $color3;
    margin-bottom: 64px;
    @include sm {
        margin-bottom: 40px
    }
}

h2 {
    @extend %mplus-32-b-b;
    color: $color5;
    margin-bottom: 64px;
    @include sm {
        margin-bottom: 40px
    }
}

// ボタン設定
.orange-border-button {
    max-width: 320px;
    height: 64px;
    @include flex($align: center, $justify: center);
    border: solid 4px $color3;
    border-radius: 20px;
    color: $color3;
    background-color: $color8;
    @extend %mplus-32-b-b;
    transition: 0.3s;
    margin: 0 auto;
    margin-top: 48px;
    &:hover {
        background-color: $color3;
        color: $color1;
    }
    @include sm {
        max-width: 253px;
        height: 51px;
        border-radius: 20px;
    }
}

// ボタン設定
.orange-border-button-icon {
    max-width: 360px;
    height: 64px;
    @include flex($align: center, $justify: center);
    border: solid 4px $color3;
    border-radius: 20px;
    color: $color3;
    background-color: $color8;
    @extend %mplus-32-b-b;
    transition: 0.3s;
    &:hover {
        background-color: $color3;
        color: $color1;
    }
    @include sm {
        max-width: 253px;
        border-radius: 20px;
        height: 51px;
    }
}

img {
    width: 100%;
    height: auto;
}

.accordion_child {
    display: none;
}

.open {
    svg {
        transform: rotate(180deg);
    }
}

//お問い合わせページとフッターの電話番号とメール
.two-info {
    @include flex($justify: center);
    color: $color6;
    @include sm {
        flex-direction: column;
    }
    &__left {
        border-right: solid 4px $color6;
        padding-right: 40px;
        text-align: center;
        @include sm {
            border: none;
            padding: 0;
            margin-bottom: 24px;
        }
        &--tell {
            @include flex($align: center, $justify: center);
            svg {
                margin-right: 8px;
                @include sm {
                    margin-right: 4px;
                    max-width: 24px;
                    width: 100%;
                }
            }
        }
        &--text {
            margin-top: 8px;
        }
    }
    &__right {
        padding-left: 40px;
        text-align: center;
        @include sm {
            padding: 0;
        }
        &--tell {
            @include flex($align: center, $justify: center);
            svg {
                margin-right: 8px;
                @include sm {
                    margin-right: 4px;
                    max-width: 24px;
                    width: 100%;
                }
            }
        }
        &--text {
            margin-top: 8px;
        }
    }
}

//エリア指定やお知らせ記事の右につく茶色の矢印
.right-brown-arrow {
    @include flex($align: center);
    svg {
        max-width: 32px;
        width: 100%;
        margin-left: 16px;
        display: inline-block;
    }
}

// 背景画像指定
.background-area {
    position: relative;
    .left-flower {
        position: absolute;
        left: calc(-86px - 16px);
        top: 0;
        z-index: 5;
        @include xl {
            display: none;
        }
    }
    .right-weed {
        position: absolute;
        right: calc(-78px - 16px);
        bottom: 0;
        z-index: 5;
        @include xl {
            display: none;
        }
    }
}

// エリアマップとエリア選択
.area-select {
    text-align: center;
    &__list {
        @include flex();
        flex-wrap: wrap;
        max-width: 890px;
        width: 100%;
        margin: 0 auto;
        margin-top: 40px;
        .right-brown-arrow {
            margin-right: 40px;
            white-space: nowrap;
        }
    }
}

// メインビジュアル
.mv-section {
    padding: 80px 0 16px 0;
    @include sm {
        padding: 60px 0 16px 0;
    }
    .under_green {
        width: 100%;
        background-color: $color10;
        height: 320px;
        @include flex($align: center, $justify: center);
        h1 {
            color: $color6;
            margin-bottom: 0;
        }
    }
}

// 2カラムコンテンツ
.two-column {
    @include flex();
    &__left {
        max-width: 408px;
        width: 100%;
        margin-right: 40px;
    }
    &__right {
        max-width: 520px;
        width: 100%;
    }
}