/*ーーーーーーーーーー
.header
ーーーーーーーーーーー*/

#head_wrap {
    position: fixed;
    width: 100%;
    line-height: 1;
    z-index: 999;
    text-decoration: none;
    a {
        text-decoration: none;
    }
    .inner {
        width: 100%;
        margin: 0 auto;
        background-color: $color1;
        height: 80px;
        padding: 0 160px;
        box-shadow: 0px 0px 16px rgb(68 68 68 / 16%);
        @include flex($align: center);
        @include lg {
            padding: 0 16px;
        }
        @include sm {
            height: 96px;
        }
        &:after {
            content: "";
            clear: both;
            display: block;
        }
        position: relative;
    }
    .logo {
        @include lg {
            max-width: 120px;
        }
    }
}

#global-nav {
    margin-left: auto;
    ul {
        list-style: none;
        display: inline-flex;
        @include sm {
            display: block;
            margin-right: 0px;
        }
        li {
            margin-right: 32px;
            @include xl {
                margin-right: 24px;
            }
            &:last-child {}
            @include sm {
                margin: 0;
            }
            a {
                transition: all .6s ease 0s;
                box-sizing: border-box;
                &:hover {}
            }
        }
    }
}


/* Fixed */

#head_wrap.fixed {
    margin-top: 0;
    top: 0;
    position: fixed;
    height: 100px;
    transition: top 0.65s ease-in;
    -webkit-transition: top 0.65s ease-in;
    -moz-transition: top 0.65s ease-in;
    z-index: 9999;
    .logo {
        font-size: 36px;
        color: #333;
    }
    #global-nav ul li a {
        color: #333;
        padding: 0 20px;
    }
}


/* Toggle Button */

#nav-toggle {
    display: none;
    position: absolute;
    right: 16px;
    top: 35px;
    width: 34px;
    height: 36px;
    cursor: pointer;
    z-index: 101;
    div {
        position: relative;
    }
}

@include sm {
    #head_wrap {
        top: 0;
        position: fixed;
        margin-top: 0;
        width: 100%;
        padding: 0;
        .inner {
            width: 100%;
            padding: 0;
        }
        /* Fixed reset */
        .fixed {
            padding-top: 0;
            background: transparent;
        }
    }
    #mobile-head {
        background: rgba(255, 255, 255, .9);
        width: 100%;
        height: 96px;
        z-index: 999;
        position: relative;
    }
    #head_wrap.fixed .logo,
    #head_wrap .logo {
        position: absolute;
        left: 13px;
        top: 13px;
        font-size: 26px;
    }
    #global-nav {
        position: absolute;
        /* 開いてないときは画面外に配置 */
        top: -460px;
        background: $color1;
        width: 100%;
        text-align: left;
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        padding: 40px 24px;
        ul {
            list-style: none;
            position: static;
            right: 0;
            bottom: 0;
            margin: -16px 0;
            li {
                float: none;
                @include flex();
                position: static;
                padding-bottom: 16px;
                width: 100%;
                margin: 16px auto;
                border-left: solid 4px $color2;
                padding: 16px 16px;
                background-color: $color2;
            }
        }
    }
    #head_wrap #global-nav ul li a,
    #head_wrap.fixed #global-nav ul li a {
        width: 100%;
        display: block;
    }
    #nav-toggle {
        display: block;
    }
    /* #nav-toggle 切り替えアニメーション */
    #nav-toggle {
        span {
            display: block;
            position: absolute;
            height: 4px;
            width: 100%;
            background: $color2;
            left: 0;
            -webkit-transition: .35s ease-in-out;
            -moz-transition: .35s ease-in-out;
            transition: .35s ease-in-out;
            &:nth-child(1) {
                top: 0;
            }
            &:nth-child(2) {
                top: 11px;
            }
            &:nth-child(3) {
                top: 22px;
            }
        }
    }
    .head-open {
        #nav-toggle {
            span {
                &:nth-child(1) {
                    top: 11px;
                    -webkit-transform: rotate(315deg);
                    -moz-transform: rotate(315deg);
                    transform: rotate(315deg);
                }
                &:nth-child(2) {
                    width: 0;
                    left: 50%;
                }
                &:nth-child(3) {
                    top: 11px;
                    -webkit-transform: rotate(-315deg);
                    -moz-transform: rotate(-315deg);
                    transform: rotate(-315deg);
                }
            }
        }
    }
    /* #global-nav スライドアニメーション */
    .head-open #global-nav {
        /* #global-nav top + #mobile-head height */
        -moz-transform: translateY(556px);
        -webkit-transform: translateY(556px);
        transform: translateY(556px);
    }
}