.map-link {
    &:hover {
        g {
            path {
                fill: #1B9944;
                opacity: 1;
            }
            text.map-2 {
                fill: $color1;
            }
        }
    }
    g {
        path,
        text.map-2 {
            transition: 0.3s;
        }
    }
}