@charset "UTF-8";
/*! destyle.css v1.0.15 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model */
/* ============================================ */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.mainslide.slick-initialized.slick-slider.slick-dotted {
  margin: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border: 0;
  border-top: 1px solid;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
  vertical-align: bottom;
}

embed,
object,
iframe {
  border: 0;
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type=button][disabled],
[type=reset][disabled],
[type=submit][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* --------------------------------  MIX IN  -------------------------------- */
/* --------------------------------  MIX IN  -------------------------------- */
/* --------------------------------  Admin Menu  -------------------------------- */
/*メニューの背景色*/
#adminmenuback,
#adminmenuwrap,
#adminmenu {
  background: #ffffff;
}

/*メニューのホバーした時の背景色*/
#adminmenu a:hover,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
  color: #ff531a;
  background: #e6e6e6;
}

/* Admin Menu: submenu */
/*メニューの第2階層の背景色*/
#adminmenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
  background: #4d1300;
}

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
  border-right-color: #4d1300;
}

/*アクティブ時の背景色*/
#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
.folded #adminmenu li.current.menu-top {
  color: #000000;
  background: #ffffff;
}

/* Admin Menu: bubble */
/*項目右の数字アイコンの色*/
#adminmenu .awaiting-mod,
#adminmenu .update-plugins {
  color: #000000;
  border: 1px solid #000000;
  background-color: rgba(255, 255, 255, 0);
}

#adminmenu li.current a .awaiting-mod,
#adminmenu li a.wp-has-current-submenu .update-plugins,
#adminmenu li:hover a .awaiting-mod,
#adminmenu li.menu-top:hover > a .update-plugins {
  color: #000000;
  border: 1px solid #000000;
  background-color: rgba(255, 255, 255, 0);
}

/* Admin Bar */
/*管理画面のヘッダーの色*/
#wpadminbar {
  color: #fff;
  background: #671a00;
}

/* Core UI */
/*更新、公開ボタンの色*/
.wp-core-ui .button-primary {
  background: #671a00;
  border-color: #671a00;
  color: #fff;
}

.wp-core-ui .button-primary:hover,
.wp-core-ui .button-primary:focus {
  background: #671a00;
  border-color: #671a00;
  color: #fff;
}

/* --------------------------------  Admin Menu  -------------------------------- */
@font-face {
  font-family: "RoundedMplus";
  src: local("RoundedMplus Regular"), url("webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/MPLUSRounded1c-Medium.woff") format("woff"), url("../fonts/MPLUSRounded1c-Medium.ttf") format("truetype"), url("webfont.svg#svgFontName") format("svg");
  /* svg - Legacy iOS */
}
@font-face {
  font-family: "RoundedMplus-l";
  src: local("RoundedMplus-l Regular"), url("webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/MPLUSRounded1c-Regular.woff") format("woff"), url("../fonts/MPLUSRounded1c-Regular.ttf") format("truetype"), url("webfont.svg#svgFontName") format("svg");
  /* svg - Legacy iOS */
}
h1 {
  font-size: 4.8rem;
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.4rem;
  }
}

.orange-border-button-icon, .orange-border-button, h2, .h2_text {
  font-size: 3.2rem;
}
@media screen and (max-width: 767px) {
  .orange-border-button-icon, .orange-border-button, h2, .h2_text {
    font-size: 2rem;
  }
}

.h2_text {
  margin-bottom: 24px;
}

.breadcrumb {
  font-family: "RoundedMplus-l";
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 0.08em;
}

html {
  font-size: 10px !important;
  scroll-behavior: smooth;
}

body {
  font-family: "RoundedMplus";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.08em;
  color: #765a33;
  background-color: #f7f6f1;
}
@media screen and (max-width: 767px) {
  body {
    font-size: 1.6rem;
  }
}

.page-width {
  max-width: 1000px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}
@media screen and (max-width: 767px) {
  section {
    padding: 40px 0;
  }
}

h1 {
  color: #ff531a;
  margin-bottom: 64px;
}
@media screen and (max-width: 767px) {
  h1 {
    margin-bottom: 40px;
  }
}

h2 {
  color: #765a33;
  margin-bottom: 64px;
}
@media screen and (max-width: 767px) {
  h2 {
    margin-bottom: 40px;
  }
}

.orange-border-button {
  max-width: 320px;
  height: 64px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  border: solid 4px #ff531a;
  border-radius: 20px;
  color: #ff531a;
  background-color: #f7f6f1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 0 auto;
  margin-top: 48px;
}
.orange-border-button:hover {
  background-color: #ff531a;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .orange-border-button {
    max-width: 253px;
    height: 51px;
    border-radius: 20px;
  }
}

.orange-border-button-icon {
  max-width: 360px;
  height: 64px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  border: solid 4px #ff531a;
  border-radius: 20px;
  color: #ff531a;
  background-color: #f7f6f1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.orange-border-button-icon:hover {
  background-color: #ff531a;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .orange-border-button-icon {
    max-width: 253px;
    border-radius: 20px;
    height: 51px;
  }
}

img {
  width: 100%;
  height: auto;
}

.accordion_child {
  display: none;
}

.open svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.two-info {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  color: #1b9944;
}
@media screen and (max-width: 767px) {
  .two-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.two-info__left {
  border-right: solid 4px #1b9944;
  padding-right: 40px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .two-info__left {
    border: none;
    padding: 0;
    margin-bottom: 24px;
  }
}
.two-info__left--tell {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
}
.two-info__left--tell svg {
  margin-right: 8px;
}
@media screen and (max-width: 767px) {
  .two-info__left--tell svg {
    margin-right: 4px;
    max-width: 24px;
    width: 100%;
  }
}
.two-info__left--text {
  margin-top: 8px;
}
.two-info__right {
  padding-left: 40px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .two-info__right {
    padding: 0;
  }
}
.two-info__right--tell {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
}
.two-info__right--tell svg {
  margin-right: 8px;
}
@media screen and (max-width: 767px) {
  .two-info__right--tell svg {
    margin-right: 4px;
    max-width: 24px;
    width: 100%;
  }
}
.two-info__right--text {
  margin-top: 8px;
}

.right-brown-arrow {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
}
.right-brown-arrow svg {
  max-width: 32px;
  width: 100%;
  margin-left: 16px;
  display: inline-block;
}

.background-area {
  position: relative;
}
.background-area .left-flower {
  position: absolute;
  left: calc(-86px - 16px);
  top: 0;
  z-index: 5;
}
@media screen and (max-width: 1200px) {
  .background-area .left-flower {
    display: none;
  }
}
.background-area .right-weed {
  position: absolute;
  right: calc(-78px - 16px);
  bottom: 0;
  z-index: 5;
}
@media screen and (max-width: 1200px) {
  .background-area .right-weed {
    display: none;
  }
}

.area-select {
  text-align: center;
}
.area-select__list {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 890px;
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
}
.area-select__list .right-brown-arrow {
  margin-right: 40px;
  white-space: nowrap;
}

.mv-section {
  padding: 80px 0 16px 0;
}
@media screen and (max-width: 767px) {
  .mv-section {
    padding: 60px 0 16px 0;
  }
}
.mv-section .under_green {
  width: 100%;
  background-color: rgba(27, 153, 68, 0.18);
  height: 320px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
}
.mv-section .under_green h1 {
  color: #1b9944;
  margin-bottom: 0;
}

.two-column {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}
.two-column__left {
  max-width: 408px;
  width: 100%;
  margin-right: 40px;
}
.two-column__right {
  max-width: 520px;
  width: 100%;
}

/*ーーーーーーーーーー
.header
ーーーーーーーーーーー*/
#head_wrap {
  position: fixed;
  width: 100%;
  line-height: 1;
  z-index: 999;
  text-decoration: none;
}
#head_wrap a {
  text-decoration: none;
}
#head_wrap .inner {
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  height: 80px;
  padding: 0 160px;
  -webkit-box-shadow: 0px 0px 16px rgba(68, 68, 68, 0.16);
          box-shadow: 0px 0px 16px rgba(68, 68, 68, 0.16);
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  position: relative;
}
@media screen and (max-width: 1024px) {
  #head_wrap .inner {
    padding: 0 16px;
  }
}
@media screen and (max-width: 767px) {
  #head_wrap .inner {
    height: 96px;
  }
}
#head_wrap .inner:after {
  content: "";
  clear: both;
  display: block;
}
@media screen and (max-width: 1024px) {
  #head_wrap .logo {
    max-width: 120px;
  }
}

#global-nav {
  margin-left: auto;
}
#global-nav ul {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
@media screen and (max-width: 767px) {
  #global-nav ul {
    display: block;
    margin-right: 0px;
  }
}
#global-nav ul li {
  margin-right: 32px;
}
@media screen and (max-width: 1200px) {
  #global-nav ul li {
    margin-right: 24px;
  }
}
@media screen and (max-width: 767px) {
  #global-nav ul li {
    margin: 0;
  }
}
#global-nav ul li a {
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* Fixed */
#head_wrap.fixed {
  margin-top: 0;
  top: 0;
  position: fixed;
  height: 100px;
  transition: top 0.65s ease-in;
  -webkit-transition: top 0.65s ease-in;
  -moz-transition: top 0.65s ease-in;
  z-index: 9999;
}
#head_wrap.fixed .logo {
  font-size: 36px;
  color: #333;
}
#head_wrap.fixed #global-nav ul li a {
  color: #333;
  padding: 0 20px;
}

/* Toggle Button */
#nav-toggle {
  display: none;
  position: absolute;
  right: 16px;
  top: 35px;
  width: 34px;
  height: 36px;
  cursor: pointer;
  z-index: 101;
}
#nav-toggle div {
  position: relative;
}

@media screen and (max-width: 767px) {
  #head_wrap {
    top: 0;
    position: fixed;
    margin-top: 0;
    width: 100%;
    padding: 0;
    /* Fixed reset */
  }
  #head_wrap .inner {
    width: 100%;
    padding: 0;
  }
  #head_wrap .fixed {
    padding-top: 0;
    background: transparent;
  }

  #mobile-head {
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 96px;
    z-index: 999;
    position: relative;
  }

  #head_wrap.fixed .logo,
#head_wrap .logo {
    position: absolute;
    left: 13px;
    top: 13px;
    font-size: 26px;
  }

  #global-nav {
    position: absolute;
    /* 開いてないときは画面外に配置 */
    top: -460px;
    background: #ffffff;
    width: 100%;
    text-align: left;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    padding: 40px 24px;
  }
  #global-nav ul {
    list-style: none;
    position: static;
    right: 0;
    bottom: 0;
    margin: -16px 0;
  }
  #global-nav ul li {
    float: none;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    position: static;
    padding-bottom: 16px;
    width: 100%;
    margin: 16px auto;
    border-left: solid 4px #000000;
    padding: 16px 16px;
    background-color: #000000;
  }

  #head_wrap #global-nav ul li a,
#head_wrap.fixed #global-nav ul li a {
    width: 100%;
    display: block;
  }

  #nav-toggle {
    display: block;
  }

  /* #nav-toggle 切り替えアニメーション */
  #nav-toggle span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #000000;
    left: 0;
    -webkit-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
  }
  #nav-toggle span:nth-child(1) {
    top: 0;
  }
  #nav-toggle span:nth-child(2) {
    top: 11px;
  }
  #nav-toggle span:nth-child(3) {
    top: 22px;
  }

  .head-open #nav-toggle span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
  }
  .head-open #nav-toggle span:nth-child(2) {
    width: 0;
    left: 50%;
  }
  .head-open #nav-toggle span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-315deg);
    transform: rotate(-315deg);
  }

  /* #global-nav スライドアニメーション */
  .head-open #global-nav {
    /* #global-nav top + #mobile-head height */
    -webkit-transform: translateY(556px);
    transform: translateY(556px);
  }
}
.map-link:hover g path {
  fill: #1B9944;
  opacity: 1;
}
.map-link:hover g text.map-2 {
  fill: #ffffff;
}
.map-link g path,
.map-link g text.map-2 {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.breadcrumb {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
}
.breadcrumb .bread-line {
  margin: 0 8px 0 4px;
  display: inline-block;
}

/*
* 案件担当者以外が記述する場合はなるべく此処に記述してください。
* コーディング終了後修正記述用のscssファイルです。
* このimportしたファイル以下に記述しないでください。
*/
/*# sourceMappingURL=common.css.map */